html {
    font-size: 10px;
}
/* Body */
body {
    background-color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
}


.formulario {
    position: relative;
    margin-top: 30px;
}

.formulario label {
    position: absolute;
    top: -20px;
}

/* Inputs */
input[type="number"] {
    width: 50px;
    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
}

input[type="number"]:focus,
input[type="number"].focus {
    border-bottom: solid 2px #969696;
}


/* Botones */
button {
    background-color: #80b74c;
    padding: 10px;
    border: none;
    border-bottom: solid 2px #598035;
    transition: border 0.3s;
}

button:focus,
button:hover {
    cursor: pointer;
    border-bottom: solid 2px #33491e;
}


/* Listados */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    position: relative;
    width: 250px;
    margin: 10px 0 0;
    padding: 5px;
    background-color: #ffffff;
    border-bottom: solid 2px #c9c9c9;
}

li.pizzaMasBarata {
    background-color: #cae1b4;
    border-bottom: solid 2px #80b74c

}

span.eliminar {
    position: absolute;
    top: 4px;
    right: 5px;
}

span.eliminar:hover {
    cursor: pointer;
}
